* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


/* stop animation while resizing */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* WHY DOESNT THIS FIX IT? */
html {
  width: 100% !important; 
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

header {
  min-height: 8vh;
  width: 100%;
  position: absolute;
  display: flex !important;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.scrolled {
  background: linear-gradient(to bottom, rgba(50, 50, 50, 1) 20%, rgba(0,0,0,0) 100%);
}

nav {
  display: flex !important;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.logo {
  color: rgba(255, 255, 255, 0.85);
  font-size: 32px;
  height: auto;
  display: flex;
  align-items: center;
}

.logo h4 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.navlinks {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 24px;
}

.link a {
  letter-spacing: 3px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
}

.link a:hover {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: none;
}

.hamburger-toggle {
  cursor: pointer;
  color: white;
  display: none;
}

main {
  height: fit-content !important;
  background: url("./background-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 6vh;
  margin: 0;
}

main img {
  border: 3px solid black;
}

#main-container {
  padding-bottom: 16vh !important;
}

.contact-main {
  height: 100% !important;
}

.container h1 {
  margin-top: 15px;
  font-weight: bold;
  text-align: center !important;
}

.contact-form {
  color: antiquewhite;
}

.contact-form button {
  padding: 4px;
}

#personal-info {
  color: #15293d;
  font-size: 20px;
  background: rgba(148, 148, 148, 0.4);
  text-align: center;
}

.main-container {
  font-size: 18px;
  padding: 10px;
  background: rgba(50,50,50,0.65);
}

.about-title {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.about-text {
  color: blanchedalmond;
  opacity: 0.75;
  padding: 10px
}

#title {
  color: #007fff;
}

.skills h4 {
  text-align: center;
}

#portfolio {
  padding-bottom: 150px;

}

#portfolio-container {
  padding: 0;
  width: 100%;
  margin: auto;
  @media screen and (min-width: 340px) {
    padding: 0 40px;
  }
}

#row-container {
  margin: auto;
}

.card {
  text-align: center;
  height: 600px;
  background: rgba(256, 256, 256, 0.8) !important;
  width: 30% !important;
  margin: auto;
  margin-bottom: 35px;
  max-width: 420px;
}

.card-title {
  text-align: center;
}

.card img {
  margin: auto;
  max-width: 95%;
}

.card-section {
  padding: 1px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-section:last-child {
  border-bottom: none;
}

.card-title {
  height: 15%;
}

.card-image-section {
  height: 45%;
}

.card-image {
  margin: 0 !important;
  min-width: 40%;
  max-width: 95%;
  max-height: 80%;
  display: block;
}

.card-description,
.card-technologies {
  height: 15%;
}

.card-link {
  height: 10%;
}

form {
  width: 100%
}

#personal-info {
  margin-top: 30px;
}

footer {
  height: 14vh;
  padding: 10px !important;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.7) !important;
}

footer .container {
  margin: auto;
}

#footer-row,
#footer-row i {
  margin: auto;
  font-size: 28px;
  color: #0668ca !important
}

#footer-title,
#footer-icons {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .card {
    max-width: none !important;
    width: 40% !important;
  }
}

/* Mobile screen sizes */
@media screen and (max-width: 820px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin: 0 !important;
    padding-bottom: 20px;
  }

  .hamburger-toggle {
    display: flex;
    align-items: center;
  }

  .navlinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 78vh;
    align-items: center;
    width: 100%;
    top: 8vh;
    background: rgba(153, 192, 227, 0.9);
    font-size: 32px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .active {
    transform: translateX(0%);
  }

  #portfolio {
    padding-bottom: 100px;
  }

  .card {
    width: 90% !important;
  }
}

